# Ignore system files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/

# Ignore database
db.sqlite3

# Ignore environment variables
.env

# Ignore migrations cache
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
